<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="shop.css">
    <title>アプリ名</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">アプリ名</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>お店一覧</li>
          <li>登録</li>
          <li>お気に入り</li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <img src="images/top.jpg" alt="トップ画像" class="top-image">
      </div>

      <div class='shop-contents'>
        <h2 class='title'>お店一覧</h2>
        <ul class='shop-lists'>
          <li class='list'>
            <div class='shop-img-content'>
              <img src="images/shop1.jpg" alt="shop1" class="shop-image">
            </div>
            <div class='shop-info'>
              <h3 class='shop-name'>
                店名
              </h3>
              <div class='shop-price'>
                価格帯
                <div class='star-btn'>
                  評価
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          </li>
          <li class='list'>
            <div class='shop-img-content'>
              <img src="images/shop2.jpg" alt="shop2" class="shop-image">
            </div>
            <div class='shop-info'>
              <h3 class='shop-name'>
                店名
              </h3>
              <div class='shop-price'>
                価格帯
                <div class='star-btn'>
                  評価
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>


    <footer>
      <p>Copyright(C) Hair OLIVE ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>